<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmNCmSeTymuU_3WWEd8De6Bjyq-qxFFzk</string>
	<key>GCM_SENDER_ID</key>
	<string>681139015771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.poll</string>
	<key>PROJECT_ID</key>
	<string>poll-mv6s8u</string>
	<key>STORAGE_BUCKET</key>
	<string>poll-mv6s8u.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681139015771:ios:a56c2c95ba9d1223d5ef7e</string>
</dict>
</plist>